appdirs
black
facexlib
ffmpeg-python
ncnn_vulkan
numpy
onnx
onnxoptimizer
onnxruntime
opencv-python
pasteboard ; sys_platform=="darwin"
Pillow
protobuf==3.16.0
pylint
pyright==1.1.249
pytest
pywin32 ; sys_platform=="win32"
sanic
sanic_cors
torch
torchvision
