appdirs
black==23.1.0
debugpy
einops
facexlib
ffmpeg-python
google-re2
isort==5.11.5
ncnn_vulkan
numba!=0.49.0
numpy
onnx==1.13.0
onnxoptimizer
onnxruntime
opencv-python
pasteboard ; sys_platform=="darwin"
Pillow
protobuf==3.20.2
pylint==2.16.1
pyright==1.1.294
pytest
pywin32 ; sys_platform=="win32"
requests
sanic==23.3.0
sanic_cors==2.2.0
scipy==1.9.3
pynvml==11.5.0
# torch
# torchvision
