sanic
websockets==9.1
numpy
opencv-python
sanic-cors
pyinstaller

# Pytorch
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cu111; sys_platform == 'linux' or sys_platform == 'windows'
torch==1.9.0; sys_platform == 'darwin'