:not(input):not(textarea):not(button):not(svg):not(path):not(g):not(span),
:not(input):not(textarea):not(button):not(svg):not(path):not(g):not(span)::after,
:not(input):not(textarea):not(button):not(svg):not(path):not(g):not(span)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

