/* :not(.chakra-slider__track):not(.chakra-menu__menu-button):not(.react-flow__handle)
:not(.chakra-slider__track):not(.chakra-menu__menu-button):not(.react-flow__handle)
:not(.chakra-slider__track):not(.chakra-menu__menu-button):not(.react-flow__handle) */

:not(input):not(textarea):not(button):not(svg):not(path):not(g):not(span),
:not(input):not(textarea):not(button):not(svg):not(path):not(g):not(span)::after,
:not(input):not(textarea):not(button):not(svg):not(path):not(g):not(span)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

body {
    overflow: hidden;
}

.react-flow__attribution {
    display: none;
}

@keyframes _dashdraw {
    from {
        stroke-dashoffset: 10;
    }
}