@use 'sass:color';
@use 'sass:map';

@mixin theme-variables($theme) {
    @each $shade, $color in $theme {
        $next-shade: map.get($theme, $shade + 100);

        --theme-#{$shade}: #{$color};
        @if $next-shade {
            $twenty-five-percent: color.mix($color, $next-shade, 75%);
            $fifty-percent: color.mix($color, $next-shade, 50%);
            $seventy-five-percent: color.mix($color, $next-shade, 25%);

            --theme-#{$shade + 25}: #{$twenty-five-percent};
            --theme-#{$shade + 50}: #{$fifty-percent};
            --theme-#{$shade + 75}: #{$seventy-five-percent};
        }
    }
}

// Default theme (copied from Chakra UI)
$default-theme: (
    0: #fff,
    // '50': #f7fafc,
    100: #edf2f7,
    200: #e2e8f0,
    300: #cbd5e0,
    400: #a0aec0,
    500: #718096,
    600: #4a5568,
    700: #2d3748,
    800: #1a202c,
    900: #171923,
);

:root[data-realTheme='default'] {
    @include theme-variables($default-theme);
}

// Charcoal theme
$charcoal-theme: (
    0: #fff,
    // '50': #e1e1e4,
    100: #d3d3d9,
    200: #a7a7b4,
    300: #7b7b8e,
    400: #545463,
    500: #2e2e36,
    600: #26262c,
    700: #1c1c21,
    800: #131316,
    900: #09090b,
);

:root[data-realTheme='charcoal'] {
    @include theme-variables($charcoal-theme);
}

:root[data-theme='dark'] {
    /* backgrounds */
    --bg-800: var(--theme-800);
    --bg-700: var(--theme-700);
    --bg-600: var(--theme-600);

    /* font colors */
    --fg-000: white;
    --fg-300: var(--theme-300);

    --link-color: var(--chakra-colors-blue-300);

    /* node colors */
    --node-border-color: var(--theme-800);
    --node-bg-color: var(--theme-750);
    --node-icon-color: var(--theme-200);

    --node-valid-bg: var(--theme-800);
    --node-valid-fg: var(--theme-100);
    --node-invalid-bg: var(--chakra-colors-red-600);
    --node-invalid-fg: var(--theme-800);

    --node-disable-bg: var(--theme-800);
    --node-disable-fg: var(--theme-400);

    --node-timer-bg: var(--theme-800);
    --node-timer-fg: var(--theme-600);

    --node-image-preview-bg: var(--node-bg-color);
    --node-image-preview-color: var(--theme-400);

    --node-image-preview-button-bg: var(--theme-750);
    --node-image-preview-button-bg-hover: var(--theme-600);
    --node-image-preview-button-fg: var(--theme-400);

    --custom-tag-bg: var(--theme-750);
    --custom-tag-fg: var(--theme-300);

    --connection-color: #171923;
    --chain-hole-color: #1a202c;

    /* node selector colors */
    --selector-node-bg: var(--theme-700);
    --selector-icon: var(--theme-400);
    --selector-text-bg: var(--theme-700);
    --selector-text-bg-hover: var(--theme-600);

    /* specific colors */
    --window-bg: var(--theme-900);
    --header-bg: var(--bg-800);
    --chain-editor-bg: var(--bg-800);
    --node-selector-bg: var(--bg-800);
}

:root[data-theme='light'] {
    /* backgrounds */
    --bg-800: var(--theme-50);
    --bg-700: var(--theme-175);
    --bg-600: var(--theme-200);

    /* font colors */
    --fg-000: black;
    --fg-300: var(--theme-500);

    --link-color: var(--chakra-colors-blue-500);

    /* node colors */
    --node-border-color: var(--theme-500);
    --node-bg-color: var(--theme-250);
    --node-icon-color: var(--theme-800);

    --node-valid-bg: var(--theme-150);
    --node-valid-fg: var(--theme-900);
    --node-invalid-bg: var(--chakra-colors-red-500);
    --node-invalid-fg: var(--theme-200);

    --node-disable-bg: var(--theme-150);
    --node-disable-fg: var(--theme-500);

    --node-timer-bg: var(--theme-150);
    --node-timer-fg: var(--theme-500);

    --node-image-preview-bg: var(--node-bg-color);
    --node-image-preview-color: var(--theme-700);

    --node-image-preview-button-bg: var(--theme-300);
    --node-image-preview-button-bg-hover: var(--theme-400);
    --node-image-preview-button-fg: var(--theme-700);

    --custom-tag-bg: var(--theme-200) !important;
    --custom-tag-fg: var(--theme-700);

    --connection-color: var(--theme-50);
    --chain-hole-color: var(--theme-50);

    /* node selector colors */
    --selector-node-bg: var(--theme-150);
    --selector-icon: var(--theme-600);
    --selector-text-bg: var(--theme-150);
    --selector-text-bg-hover: var(--theme-250);

    /* specific colors */
    --window-bg: var(--theme-150);
    --header-bg: var(--bg-800);
    --chain-editor-bg: var(--bg-800);
    --node-selector-bg: var(--bg-800);
}
