@use 'colors.scss';
@import 'reactflow/dist/style.css';

/* :not(.chakra-slider__track):not(.chakra-menu__menu-button):not(.react-flow__handle)
:not(.chakra-slider__track):not(.chakra-menu__menu-button):not(.react-flow__handle)
:not(.chakra-slider__track):not(.chakra-menu__menu-button):not(.react-flow__handle) */

/* latin */
@font-face {
    font-family: Supreme-Variable;
    font-weight: 100 800;
    font-display: swap;
    font-style: normal;
    src: url('../public/fonts/Supreme/Supreme-Variable.woff2') format('woff2'),
        url('../public/fonts/Supreme/Supreme-Variable.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Supreme-VariableItalic;
    font-weight: 100 800;
    font-display: swap;
    font-style: normal;
    src: url('../public/fonts/Supreme/Supreme-VariableItalic.woff2') format('woff2'),
        url('../public/fonts/Supreme/Supreme-VariableItalic.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
    font-family: 'Inter-Variable';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('../public/fonts/Inter/Inter-roman.var.woff2?v=3.19') format('woff2');
}
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url('../public/fonts/Inter/Inter-italic.var.woff2?v=3.19') format('woff2');
}

/* --------------------------------------------------------------------------
  [EXPERIMENTAL] Multi-axis, single variable font.

  Slant axis is not yet widely supported (as of February 2019) and thus this
  multi-axis single variable font is opt-in rather than the default.

  When using this, you will probably need to set font-variation-settings
  explicitly, e.g.

    * { font-variation-settings: "slnt" 0deg }
    .italic { font-variation-settings: "slnt" 10deg }

  */
@font-face {
    font-family: 'Inter var experimental';
    font-weight: 100 900;
    font-display: swap;
    font-style: oblique 0deg 10deg;
    src: url('../public/fonts/Inter/Inter.var.woff2?v=3.19') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    // font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url('../public/fonts/JetBrains Mono/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'RobotoCondensed';
    font-display: swap;
    src: url('../public/fonts/Roboto Condensed/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    font-display: swap;
    src: url('../public/fonts/Roboto Condensed/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    font-display: swap;
    src: url('../public/fonts/Roboto Condensed/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    font-display: swap;
    src: url('../public/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    font-display: swap;
    src: url('../public/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

:not(input, textarea, button, svg, path, g, span, circle) {
    &,
    &::after,
    &::before {
        user-select: none;
        cursor: default;
    }
}

body {
    overflow: hidden;
}

.react-flow__attribution {
    display: none;
}

.react-flow__node:focus,
:focus-visible,
:focus-within {
    outline: none;
}

@keyframes logo-dashdraw {
    from {
        stroke-dashoffset: 10;
    }
}

.react-flow__handle-left {
    left: 0 !important;
    top: 0% !important;
    transform: translateY(0%) !important;
}

.react-flow__handle-right {
    right: 0 !important;
    top: 0% !important;
    transform: translateY(0%) !important;
}

.react-flow__handle {
    position: relative;
}

.react-flow__controls {
    border-radius: 8px;
    transition: 0.15s background ease-in-out;
}

.react-flow__controls-button {
    transition: 0.15s background ease-in-out !important;
    transition: 0.15s border ease-in-out;

    &:disabled {
        cursor: default;
    }

    &:disabled > svg {
        fill: var(--gray-600);
    }
}

.react-flow__controls-zoomin {
    border-radius: 8px 8px 0 0;
}

.react-flow__controls > button:last-child {
    border-radius: 0 0 8px 8px;
}

[data-theme='light'] {
    .react-flow__controls:hover {
        background: var(--gray-300) !important;
    }

    .react-flow__controls-button {
        border: 0 solid rgb(113 128 150 / 66%) !important;
        background: rgb(203 213 224 / 66%) !important;

        &:not(:disabled):hover {
            background: var(--gray-400) !important;
            border: 0 solid var(--gray-500) !important;
        }

        &:disabled > svg {
            fill: var(--gray-400);
        }
    }
}

[data-theme='dark'] {
    .react-flow__controls:hover {
        background: var(--gray-700) !important;
    }

    .react-flow__controls-button {
        border: 0 solid rgb(74 85 104 / 66%) !important;
        background: rgb(45 55 72 / 66%) !important;

        &:not(:disabled):hover {
            background: var(--gray-600) !important;
            border: 0 solid var(--gray-600) !important;
        }

        &:not(:disabled) > svg {
            fill: white;
        }
    }
}

::-webkit-scrollbar {
    width: 9px;
    border-radius: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 11px;
    width: 8px;
}

[data-theme='dark'] ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--gray-700);
}

[data-theme='light'] ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--gray-300);
}

#menu-button-global-context-menu {
    pointer-events: none;

    & + div {
        z-index: 100000;
    }
}

.chainner-handle:has(+ .with-label) {
    margin-top: 1rem;
}
