/* :not(.chakra-slider__track):not(.chakra-menu__menu-button):not(.react-flow__handle)
:not(.chakra-slider__track):not(.chakra-menu__menu-button):not(.react-flow__handle)
:not(.chakra-slider__track):not(.chakra-menu__menu-button):not(.react-flow__handle) */

:not(input):not(textarea):not(button):not(svg):not(path):not(g):not(span),
:not(input):not(textarea):not(button):not(svg):not(path):not(g):not(span)::after,
:not(input):not(textarea):not(button):not(svg):not(path):not(g):not(span)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

body {
    overflow: hidden;
}

.react-flow__attribution {
    display: none;
}

@keyframes _dashdraw {
    from {
        stroke-dashoffset: 10;
    }
}

@keyframes dashdraw-chain {
    from {
        stroke-dashoffset: 13;
    }
}

.edge-chain-links, .edge-chain-links.animated {
    stroke-dasharray: 0 !important;
}

.edge-chain, .edge-chain.animated {
    stroke-dasharray: 1 10 !important;
}

.edge-chain.animated {
    animation: dashdraw-chain 0.5s linear infinite !important;
}

[data-theme=light] .react-flow__controls {
    border-radius: 8px 8px 8px 8px;
    transition: 0.15s background ease-in-out;
}

[data-theme=light] .react-flow__controls:hover {
    background: var(--chakra-colors-gray-300) !important;
    transition: 0.15s background ease-in-out;
}

[data-theme=light] .react-flow__controls-button {
    border: 0px solid rgba(113, 128, 150, 0.66) !important;
    background: rgba(203, 213, 224, 0.66) !important;
    transition: 0.15s background ease-in-out;
    transition: 0.15s border ease-in-out;
}

[data-theme=light] .react-flow__controls-button:hover {
    background: var(--chakra-colors-gray-400) !important;
    border: 0px solid var(--chakra-colors-gray-500) !important;
    transition: 0.15s background ease-in-out !important;
    transition: 0.15s border ease-in-out;
}

[data-theme=light] .react-flow__controls-zoomin {
    border-radius: 8px 8px 0px 0px;
}

[data-theme=light] .react-flow__controls-interactive {
    border-radius: 0px 0px 8px 8px;
}

[data-theme=dark] .react-flow__controls {
    border-radius: 8px 8px 8px 8px;
    transition: 0.15s background ease-in-out;
}

[data-theme=dark] .react-flow__controls:hover {
    background: var(--chakra-colors-gray-700) !important;
    transition: 0.15s background ease-in-out;
}

[data-theme=dark] .react-flow__controls-button {
    border: 0px solid rgba(74, 85, 104, 0.66) !important;
    background: rgba(45, 55, 72, 0.66) !important;
    transition: 0.15s background ease-in-out;
    transition: 0.15s border ease-in-out;
}

[data-theme=dark] .react-flow__controls-button:hover {
    background: var(--chakra-colors-gray-600) !important;
    border: 0px solid var(--chakra-colors-gray-600) !important;
    transition: 0.15s background ease-in-out !important;
    transition: 0.15s border ease-in-out;
}

[data-theme=dark] .react-flow__controls-button svg {
    fill: white;
}

[data-theme=dark] .react-flow__controls-zoomin {
    border-radius: 8px 8px 0px 0px;
}

[data-theme=dark] .react-flow__controls-interactive {
    border-radius: 0px 0px 8px 8px;
}

::-webkit-scrollbar {
    width: 9px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
    border-radius: 11px;
    width: 8px;
}

[data-theme=dark] ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--chakra-colors-gray-700);
}

[data-theme=light] ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--chakra-colors-gray-300);
}

#menu-button-global-context-menu {
    pointer-events: none;
}

#menu-button-global-context-menu+div {
    z-index: 100000;
}