# This is a basic workflow to help you get started with Actions

name: Lint

# Controls when the workflow will run
on:
    pull_request:
        branches: ['*']
        types:
            - opened
            - synchronize
            - closed
        paths-ignore:
            - 'backend/**'
            - 'requirements.txt'
            - '.pylintrc'
            - 'README.md'
    push:
        branches: [main]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    frontend-lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 16
                  cache: 'npm'
            - run: npm ci --force
            - name: eslint
              run: npm run lint-js-ci
            - name: typescript
              run: npx tsc
