# This is a basic workflow to help you get started with Actions

name: Lint

# Controls when the workflow will run
on:
    schedule:
      - cron: '*/15 * * * *'
    pull_request:
        branches: ['*']
        types:
          - opened
          - synchronize
          - closed

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    black:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: psf/black@stable
        - with:
            options: "--check --verbose"
            src: "./backend"
    eslint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: bradennapier/eslint-plus-action@v3.4.2
              with: 
                issueSummaryType: full
                # fix: true