name: Test build release

on:
  pull_request:
    branches: ['*']
    types:
      - opened
      - synchronize
      - closed
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test-build-release:
    # commit the word "build" to the commit message to enable this job
    if: contains(${{ github.event.head_commit.message }}, 'build')
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
            node-version: 16
            cache: 'npm'
      - run: npm ci --force
      - name: Install necessary FlatPak tools
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt update && sudo apt install flatpak flatpak-builder elfutils
      - name: Build release
        run: npm run make
      - uses: actions/upload-artifact@v3
        with:
          name: debug-build
          path: out/