# This is a basic workflow to help you get started with Actions

name: Release

# Controls when the workflow will run
on:
    # Triggers the workflow on push with a tag
    push:
        tags:
            - 'v*'

    # Triggers on creation of a release
    # release:
    #     types:
    #         - created

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    release:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [macos-latest, ubuntu-latest, windows-latest]

        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 16
                  cache: 'npm'
            - run: npm ci
            - name: publish
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              shell: bash
              run: npm run publish
