name: Tests

# Controls when the workflow will run
on:
    pull_request:
        branches: ['*']
        types:
            - opened
            - synchronize
            - closed
        paths-ignore:
            - 'backend/**'
            - 'requirements.txt'
            - '.pylintrc'
            - 'README.md'
    push:
        branches: [main]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    frontend-tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [16, 18]
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'
            - run: npm ci --force
            - run: npm run test-js
