name: Tests

# Controls when the workflow will run
on:
    pull_request:
        branches: ['*']
        types:
            - opened
            - synchronize
            - closed
        paths:
            - 'backend/**'
            - '.github/workflows/**'
            - '.pylintrc'
            - 'requirements.txt'
    push:
        branches: [main]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    backend-tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ['3.8', '3.9', '3.10', '3.11']
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}
                  cache: 'pip'
            - run: pip install -r requirements.txt
            - run: pytest ./backend/tests

    backend-type-check-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4
              with:
                  python-version: '3.9'
            - run: python ./backend/src/run.py --close-after-start
              env:
                  TYPE_CHECK_LEVEL: 'error'

    backend-name-check-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4
              with:
                  python-version: '3.9'
            - run: python ./backend/src/run.py --close-after-start
              env:
                  NAME_CHECK_LEVEL: 'error'

    backend-bootstrap:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ['3.8', '3.9', '3.10', '3.11']
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}
                  cache: 'pip'
            - uses: actions/cache@v3
              with:
                path: ~/.cache/chainner_pip
                key: chainner-pip-cache
            - run: python ./backend/src/run.py --close-after-start --install-builtin-packages --error-on-failed-node
